{{!-- includes/footer.hbs --}}
<footer class="bg-dark py-3">
	<div class="container text-center text-white font-weight-light">
		Very final footer content that is definitely not a placeholder.
	</div>
</footer>
