
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">CW</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
		</ul>
		<form class="form-inline" action="/search">
			<input class="form-control mr-sm-2 bg-dark text-white" type="search" placeholder="Search..." name="q" aria-label="Search" />
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
		</form>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="btn btn-outline-light my-2 my-sm-0" href="/article/new" title="Add a new artilce">
					<i class="fa fa-pen"></i>
				</a>
			</li>
			{{#if loggedIn}}
			<li class="nav-item">
				<a class="nav-link" href="/logout">Log out</a>
			</li>
			{{/if}}
		</ul>
	</div>
</nav>
