<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">CW</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarColor01"
		aria-controls="navbarColor01"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/"
					>Home <span class="sr-only">(current)</span></a
				>
			</li>
		</ul>
		<form class="form-inline flex-grow-1" action="/search">
			<div class="input-group col-md-12 px-4">
				<input
					class="form-control border border-right-0 bg-dark text-white"
					id="search-field"
					type="search"
					placeholder="Search..."
					name="search"
					aria-label="Search"
				/>
				<span class="input-group-append">
					<button
						class="btn btn-outline-light border border-left-0"
						id="search-btn"
						type="submit"
					>
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<ul class="navbar-nav ml-auto">
			{{#if loggedIn}}
			<li class="nav-item mx-1">
				<a
					class="btn btn-outline-light my-2 my-sm-0"
					href="/article/new"
					title="Add a new artilce"
				>
					<i class="fa fa-pen"></i>
				</a>
			</li>
			<li class="nav-item mx-1">
				<div class="dropdown py-0">
					<a
						class="btn btn-transparent dropdown-toggle rounded-circle"
						href="#"
						role="button"
						id="dropdownMenuLink"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
						style="background-image: url({{avatar}});"
					></a>
					<div
						class="dropdown-menu dropdown-menu-right"
						aria-labelledby="dropdownMenuLink"
					>
						<h6 class="dropdown-header">{{username}}</h6>
						<a class="dropdown-item" href="/account">My account</a>
						<div class="dropdown-divider"></div>
						<a class="btn btn-danger dropdown-item" href="/logout">Log out</a>
					</div>
				</div>
			</li>
			{{else}}
			<li class="nav-item mx-1">
				<a
					class="btn btn-light rounded-pill tempting-azure-gradient border-dark my-2 my-sm-0"
					href="/login"
					title="Log into your account"
					>Log in</a
				>
			</li>
			<li class="nav-item mx-1">
				<a
					class="btn btn-outline-light rounded-pill my-2 my-sm-0"
					href="/register"
					title="Create a new account"
					>Sign up</a
				>
			</li>
			{{/if}}
		</ul>
	</div>
</nav>
