<div class="d-flex">
	<div class="stars text-dark">
		<a class="star pl-1" href="#"><i class="fa fa-star"></i></a>
		<a class="star px-1" href="#"><i class="fa fa-star"></i></a>
		<a class="star px-1" href="#"><i class="fa fa-star"></i></a>
		<a class="star px-1" href="#"><i class="fa fa-star"></i></a>
		<a class="star pr-1" href="#"><i class="fa fa-star"></i></a>
	</div>
	{{#if average}}
	<small class="m-auto pl-2" id="rating">rated {{average}}/5 on average</small>
	{{else}}
	<small class="m-auto pl-2" id="rating">be the first to rate this article</small>
	{{/if}}
</div>
