sudo: required
services:
  - docker
  - postgresql

addons:
  postgresql: "11"
  apt:
    packages:
    - postgresql-11
    - postgresql-client-11

# Build the image before running scripts.
before_install:
  - docker build -t petrec/localnews -f Dockerfile .

install:
  # Remove the new cluster.
  - sudo pg_dropcluster 11 main --stop
  - sudo service postgresql stop
  # Upgrade the in-RAM cluster to the latest version.
  - sudo pg_upgradecluster -m upgrade 9.6 main
  - sudo service postgresql restart

# Set up the test database
before_script:
  - psql -c "CREATE USER petest WITH PASSWORD 'secretpassword';" -U postgres
  - psql -c "CREATE DATABASE cwtests;" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE cwtests TO petest;" -U postgres
  # Use a temporary, per-session schema for isolated tests.
  - psql -c "ALTER ROLE petest SET search_path = pg_temp;" -U postgres

# Execute tests
script:
  - docker run --network=host -e CI=true -e CODECOV=$CODECOV_TOKEN petrec/localnews npm run test

deploy:
  provider: elasticbeanstalk
  region: $ELASTIC_BEANSTALK_REGION
  app: $ELASTIC_BEANSTALK_APP
  bucket_name: $TARGET_S3_BUCKET
  bucket_path: $TARGET_S3_BUCKET_PATH
  on:
    branch: master

  # Use decrypted keys.
  access_key_id: $ACCESS_KEY_ID
  secret_access_key: $SECRET_ACCESS_KEY
