
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>New Article</title>
		<meta name="description" content="form to add a new article">
		<link href="/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<h1>Add an article</h1>
			{{#if msg}}
	 			<p class="msg">{{msg}}</p>
			{{/if}}
			<!-- TO-DO: turn the upload form into a modal -->
			<form action="/article/upload" enctype="multipart/form-data" method="post">
				<p>Thumbnail:<br /><input type="file" name="thumbnail"></p>
				<p><input type="submit" value="Upload"></p>
			</form>
			<form action="/article/new" enctype="multipart/form-data" method="post">
				<p>Title:<br /><input type="text" name="headline" placeholder="Enter a title" value="" required></p>
	            <p>Summary:<br /><input type="text" name="summary" placeholder="article summary goes here..." value="" required></p>
				<p>Thumbnail:<br /><input type="text" name="thumbnail" placeholder="thumbnail url" value="{{thumbnail}}" required></p>
				<p>Content:</p>
				<textarea class="content" name="content" placeholder="article content goes here..." value="" required></textarea>
				<p><input type="submit" value="Add article"></p>
			</form>
		</div>
	</body>
</html>
