
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Oops!</title>
	<meta name="description" content="Error message page">
	<meta name="author" content="Cristian Petre">
	<link href="/style.css" type="text/css" rel="stylesheet">
	<link href="/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link href="/fontawesome-free/css/all.css" rel="stylesheet">
	<link rel="preload" href="/jquery.js" as "script">
	<link rel="preload" href="/bootstrap.min.js" as "script">
</head>
<body class="pb-4">
	{{> header }}
	<div class="jumbotron jumbotron-fluid alert-danger">
		<div class="container">
			<h1 class="display-4">An Error Has Occurred</h1>
			<p class="lead">{{message}}</p>
		</div>
	</div>
	{{> footer }}
</body>
</html>
