
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Newly published articles</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		>
		<meta name="description" content="Page that lists published articles">
		<meta name="author" content="Cristian Petre">
		<link href="/css/style.css" type="text/css" rel="stylesheet">
		<link href="/css/gradients.css" type="text/css" rel="stylesheet">
		<link href="/bootstrap.min.css" type="text/css" rel="stylesheet">
		<link href="/fontawesome-free/css/all.css" rel="stylesheet">
	</head>
	<body class="pb-4">
		<div class="container col-xs-12 col-md-6 pb-5">
			<h1 class="display-2 mt-2">Recent news</h1>
			{{#each articles}}
				<div class="card bg-dark text-white mb-3">
					{{!-- No thumbnail for newsletter. --}}
					<div class="card-body">
						<h5 class="card-title">{{this.headline}}</h5>
						<p class="card-text">{{this.summary}}</p>
					</div>
				</div>
			{{/each}}
		</div>
		<script type="text/javascript" src="/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap.min.js"></script>
	</body>
</html>
