
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="New user registration page">
		<meta name="author" content="Cristian Petre">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<link href="/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="/fontawesome-free/css/all.css" rel="stylesheet" />
		<link rel="preload" href="/jquery.js" as "script">
		<link rel="preload" href="/bootstrap.min.js" as "script">
	</head>
	<body>
		{{> header }}
		<h1>Create an Account</h1>
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="your preferred username (no spaces)" value=""></p>
      <p>Password:<br /><input type="password" name="pass" placeholder="your chosen password" value=""></p>
			<p>Profile Picture:<br /><input type="file" name="avatar"></p>
			<p><input type="submit" value="Create"></p>
		</form>
	</body>
</html>
