
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	position: relative;
}

.container {
	width: 80%;
	margin: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

input {
	width: 100%;
}

.msg {
	border: 1px solid red;
	font-weight: bold;
	color: red;
	padding: 1em;
}

.content {
	width: 100%;
}

.article {
	border: 1px;
	padding: 0 1rem;
	margin-bottom: 1rem;
	border-color: #1DE9B6;
	border-style: solid;
}

#search-field {
	border-radius: 50rem 0rem 0rem 50rem;
}

#search-btn {
	border-radius: 0rem 50rem 50rem 0rem;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

#gridCheck {
	width: auto;
}

#notification {
	position: fixed;
	bottom: 0.2rem;
	right: 0;
	left: 0;
	z-index: 1000;
}

.dropdown {
	width: 38px;
	height: 38px;
}

#dropdownMenuLink {
	width: inherit;
	height: inherit;
	background-size: 42px;
	background-position: center;
	color: transparent;
}

#hiddenLabel::after {
	display: none;
}

#hiddenLabel {
	color: #fff;
	text-align: center;
  background-color: #343a40;
  border-color: #343a40;
}

#avi {
	position: absolute;
	object-fit: cover;
	object-position: center;
	max-width: 100%;
	height: 100%;
}

.thumbnail {
	width: 100%;
	position: relative;
  overflow: hidden;
  padding-bottom: 50%;
}

.thumbnail img {
	position: absolute;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.image {
	position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.admin-badge {
  transform: rotate(-45deg);
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  vertical-align: middle;
  top: 10%;
  left: -25%;
  opacity: .8;
  background-color: #343a40;
  z-index: 1;
}
