
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	position: relative;
}

.container {
	width: 80%;
	margin: auto;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

input {
	width: 100%;
}

.msg {
	border: 1px solid red;
	font-weight: bold;
	color: red;
	padding: 1em;
}

.content {
	width: 100%;
}

.article {
	border: 1px;
	padding: 0 1rem;
	margin-bottom: 1rem;
	border-color: #1DE9B6;
	border-style: solid;
}

#search-field {
	border-radius: 50rem 0rem 0rem 50rem;
}

#search-btn {
	border-radius: 0rem 50rem 50rem 0rem;
}

img {
	max-width: 100%;
	height: auto;
}
